{:source-paths
 ["src/dev"
  "src/main/frontend"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"] [re-frame "1.4.3"] [cljs-ajax "0.8.1"]]
 :build-hooks [(shadow-env.core/hook)]
 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "assets"
   :release
   {:banner "/* @license magnet:?xt=urn:btih:1f739d93485ef211977d457386759693a3546972&dn=gpl-3.0.txt GPL-v3-or-Later */\n"
    :footer "\n/* @license-end */"}
   :modules
   {:main
    {:init-fn landing/init}}}}}